.cardlar1{
    border: 1px solid rgb(211, 205, 205);
width: 300px;
margin-left: 5%;
margin-top: 3%;
}
.cardlar1 .img{
width: 200px;
margin-left: 15%;
}
.yana{
    display: flex;
    color:#006D77; 
}
.yana button{
height: 30px;
width: auto;
    margin-left: 50%;
    margin-top: 2%;
background-color: #76c5fa;
border: none;
border-radius:10px; 
}
a{
    color:#006D77; 
}
.cardlar{
display: flex;
flex-wrap: wrap;
margin-left: 7%;
}
.img2{
    width: 20vw;
}